<h3 class="text-info display-5 mt-3">Contributors</h3>
<div class="col-12 shadow-sm p-3 mx-auto mb-3 mt-3 ">
<p>
  <a href="https://altaipilgrim.com/en/">Joanna Dobson</a><br>
  <a href="https://isaw.nyu.edu/people/affiliates/research-associates/claudia-chang">Professor Emerita Claudia Chang</a>, Sweet Briar College<br>
  <a href="https://spiritedhorse.wordpress.com/about/">Professor Laerke Recht</a><br>
  <a href="https://www.arch.ox.ac.uk/people/stewart-peter">Prof Peter Stewart</a>, Oxford University<br>
  <a href="https://www.ucl.ac.uk/archaeology/research/silk-roads/">Professor Tim Williams</a> (International Centre for Silk Roads Archaeology &amp; Heritage, Central Asian Archaeological Landscape (CAAL), University College London<br>
  <a href="https://www.ucl.ac.uk/archaeology/people/gai-jorayev">Dr Gai Jorayev</a>, University College London<br><a href="https://www.devstudies.cam.ac.uk/ourpeople/PrajaktiKalra">Dr Prajakti Kalra</a>, University of Cambridge<br><a href="https://www.ucl.ac.uk/archaeology/people/miljana-radivojevic-lecturer-archaeomaterials">Dr Miljana Radivojevic</a>, University College London</p>
</div>
