<!-- Footer logos -->

<div class="container-fluid bg-white p-2 container-fluid bg-white border-cambridge">
  <div class="container">
    <p class="text-dark p-3 text-center">
      With thanks to the East Kazakhstan Region of the Republic of Kazakhstan and
      Regional Museum of History
      <br/> and Local Studies of the Department of Culture,
      Archives and Documentation of East Kazakhstan.
    </p>
  </div>
  <div class="col-md-12 mx-auto">
    <div class="row justify-content-center mb-4">
      <div class="col-md-2 col-sm-2">
        <img  src="{{site.baseurl}}/images/logos/FitzLogo.png" height="150" alt="Logo for McDonald Institute for Archaeological Research" height="200"  loading="lazy">

      </div>
      <div class="col-md-2 col-sm-2">
        <img height="150" src="https://content.fitz.ms/fitz-website/assets/mcd.png?key=directus-large-contain" alt="Logo for McDonald Institute for Archaeological Research" height="200"  loading="lazy">
      </div>
      <div class="col-md-2 col-sm-2">
        <a href="https://www.museums.cam.ac.uk"><img height="150" loading="lazy" alt="University of Cambridge Museums logo" src="/images/logos/ucm_logo_black_white.png"></a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-white p-2 container-fluid bg-white border-cambridge">
  <div class="col-md-12 mx-auto">
    <div class="row justify-content-center mb-4">
      <div class="col-md-2 col-sm-2">
        <a href="https://www.ttpgroup.com/"><img class="img-fluid mx-auto mb-4" loading="lazy" alt="The Technology Partnership logo" src="/images/logos/ttpgroup.jpg"></a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a href="https://www.brewin.co.uk/"><img class="img-fluid mx-auto d-block mb-4" alt="Brewin Dolphin Logo" src="/images/logos/brewindolphin.jpg" loading="lazy"></a>
      </div>
    </div>
  </div>
</div>
