
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

  <title>The Fitzwilliam Museum - Visit us</title>

  <meta name="description" content="How to visit the Fitzwilliam Museum in Cambridge" />
  {% if page.title != blank %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>{{ site.site_title }}</title>
  {% endif %}
  {% seo %}

  <!-- DNS prefetches -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//www.googletagmanager.com">
  <link rel="dns-prefetch" href="//s3.amazonaws.com">
  <link rel="dns-prefetch" href="//use.fontawesome.com">
  <!--
  d888888P dP                  88888888b oo   dP                       oo dP dP oo                        8888ba.88ba
  88    88                    88             88                          88 88                           88  `8b  `8b
  88    88d888b. .d8888b.    a88aaaa    dP d8888P d888888b dP  dP  dP dP 88 88 dP .d8888b. 88d8b.d8b.    88   88   88 dP    dP .d8888b. .d8888b. dP    dP 88d8b.d8b.
  88    88'  `88 88ooood8     88        88   88      .d8P' 88  88  88 88 88 88 88 88'  `88 88'`88'`88    88   88   88 88    88 Y8ooooo. 88ooood8 88    88 88'`88'`88
  88    88    88 88.  ...     88        88   88    .Y8P    88.88b.88' 88 88 88 88 88.  .88 88  88  88    88   88   88 88.  .88       88 88.  ... 88.  .88 88  88  88
  dP    dP    dP `88888P'     dP        dP   dP   d888888P 8888P Y8P  dP dP dP dP `88888P8 dP  dP  dP    dP   dP   dP `88888P' `88888P' `88888P' `88888P' dP  dP  dP
-->


<!-- CSS -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Rubik&Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link href="https://beta.fitz.ms/css/site.css" rel="stylesheet" media="screen">

<link rel="icon" href="https://beta.fitz.ms/favicon.ico"/>

<style>
.head {

{% if page.image %}
  background-image: url({{base.url}}{{page.image}});
{% else %}
  background-image: url('https://fitz-cms-images.s3.eu-west-2.amazonaws.com/kazakh.jpg');
{% endif %}
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}

.parallax {
  min-height: 75vh!important;
}

{% if page.parallax %}
.parallax-page {
  background-image: url({{base.url}}{{page.parallax}});
  min-height: 30vh!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
  background-attachment: fixed;
}
{% endif %}

</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" type="text/css">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<script>
window.dataLayer = window.dataLayer || [];
dataLayer = [[]];
</script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WVP22F5');</script>

</head>
<body class="doc-body">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVP22F5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <!-- Screen reader skip to main -->
    <a class="sr-only sr-only-focusable doc-skip" href="#doc-main-h1">
      <div class="container">
        <span class="doc-skip-text">Skip to main content</span>
      </div>
    </a>

    <!-- Nav bars -->
    {% include /structure/navigation.html %}
    {% if page.video == '' %}
    <div class="container-fluid head parallax">
    </div>
    {% else %}
    <div class="container-fluid head parallax">
    {% include /structure/video.html %}
    </div>
    {% endif %}
    <div class="container-fluid bg-white text-black text-center">
      <div class="py-2">
        <h1 class="shout lead" id="doc-main-h1">{{page.title}}</h1>
      </div>
    </div>

    {% include /structure/breadcrumbs.html %}



      {% if page.url == "/team/" %}
        <div class="container">
       {{ content }}
     </div>
       {% include /structure/parallax.html %}
         <div class="container">
       {% include /structure/contributors.html %}
     </div>
       {{ contributors }}
      {% elsif page.url == "/objects/" %}
       {{ content }}
       {% else %}
        <div class="container">
       <div class="col-12 shadow-sm p-3 mx-auto mb-3 mt-3 ">
         {{ content }}
       </div>
     </div>
       {% endif %}

    </div>
  {% include /structure/footer_logos.html %}
  {% include /structure/footer.html %}
  {% include /structure/javascript.html %}

  </body>
  </html>
